.skiptranslate.goog-te-gadget img {
    display: none !important;
  }
  .goog-te-gadget-simple {
    border: none !important;
  }
  .goog-te-gadget-simple .VIpgJd-ZVi9od-xl07Ob-lTBxed span {
    text-decoration: none;
    border: none !important;
    margin-right: 2px;
  }
  .goog-te-banner-frame{
    display: none !important;
  }
  .VIpgJd-ZVi9od-ORHb-OEVmcd{
    display: none !important;
  }
  .VIpgJd-ZVi9od-ORHb-OEVmcd.skiptranslate{
    display: none !important;
  }